<footer>
    
    <div class = "footerContent">
        <span id = "copyRightSection">
            <a href = "/">
                © Gotham Comics Trade
            </a>
        </span>
        <span id = "aboutSection">
            <a href = "/about">
                About Us
            </a>
        </span>
        <span id = "contactUs">
            <a href = "/contact">
                Contact
            </a>
        </span>
    </div>
</footer>
</body>
</html>