<%- include('./partials/header.ejs')%>
    <div class = "about">
        <p>Follow us on <a href = "https://facebook.com/GothamComicsTrade">Facebook</a></p>
        <p>Follow us on <a href = "https://instagram.com/GothamComicsTrade">Instagram</a></p>
        <p>Follow us on <a href = "https://twitter.com/GothamComicsTrade">twitter</a></p>
    </div>
<%- include('./partials/footer.ejs')%>