<%- include('./partials/header.ejs')%>
    <div class = "contact">
        <p>Developer contact: mailtodev@gct.com</p>
        <p>Support team contact: mailtosupport@gct.com</p>
    </div>
<%- include('./partials/footer.ejs')%>