<%- include('./partials/header.ejs')%>
        <main>
        
            <div id = "mainPageText">
                 <h3>
                     Welcome to Gotham Comics Trade!!!
                 </h3> 
                     <p>
                         Gotham Comics Trade is a one stop destination to Trade and enjoy all the DC and Marvel comics that you would love to read. <br>
                         This website has been developed for all the avid readers of DC and Marvel comics who enjoy reading comics but do not <br>
                         know where to find them. <br>
                         <br>
                         <br>
                         We get that sometimes, finding comics is a hard stuff to do amidst all your daily work, but we have made it simpler for
                         our customers. <br>
                         <br>
                         <br>
                         This trading platform offers you some of the best services like reviews of famous comic storylines, so that you might <br>
                         find the comic with a storyline continuity that you are most interested in. Once you are intrerested to trade the comic book <br>
                         that you have with you, with someone, you just need to log on to our website and create a new trade mentioning some details <br>
                         about the comic(s) that you intend to share, and then, you are all set to start trading. <br>
                         <br>
                         <br>
                         Be it DC or Marvel, we assure you that you will realize that reading and trading comics, is way more fun when <br>
                         you sign up with us and trade with our website. <br>
                         So, hurry up, the Justice League and the Avengers are waiting for you to set foot into their world!!! <br>
                         Happy Reading!!!<br>
                     </p>
                 
            </div>        
         </main>
<%- include('./partials/footer.ejs')%>