#pageHeader {
    background-color: rgb(178, 37, 25);
}
#logoAndSignIn {
    background-color: rgb(178, 37, 25);
    margin: auto 0px;
}
#TradeStart {
    background-color: rgb(178, 37, 25);
    padding-right: 100px;
}
#newTrade {
    background-color: rgb(178, 37, 25);
    padding-left: 600px;
}
#loginPage {
    background-color: rgb(178, 37, 25);
    padding-left: 50px;
}
#signUp {
    background-color: rgb(178, 37, 25);
    padding-left: 20px;
}
#profile {
    background-color: rgb(178, 37, 25);
    padding-left: 20px;
}
#logout {
    background-color: rgb(178, 37, 25);
    padding-left: 20px;
}
#tradeListings {
    background-color: black;
    padding-left: 50px;
}
#mainPageText {
    background-color: white;
    color: black;
    text-align: justify;
    text-decoration: cadetblue;
    padding-top: 0px;
    font-size:large;
    top : 20px;
}
.success {
    background: rgba(108, 192, 112, 0.7);
    color: #fff;
    width: 70%;
    text-align: center;
    padding: 10px 10px;
}
  
.error {
    background: rgba(255, 102, 51, 0.7);
    color: #fff;
    width: 70%;
    text-align: center;
    padding: 10px 10px;
}
.footerContent {
    background-color: rgb(178, 37, 25);
    position: fixed;
    bottom: 0;
    height: 2.0rem;
    width: 100%;
    padding-top: 10px; 
    margin-top: 110px;
}

a:link, a:visited {
    
    color: rgb(17, 177, 231);
    padding: 0px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    align-content: center;
}

.about a{
    text-align: left;
    text-decoration: none;
    color: black;
}
.contact a{
    text-align: left;
    text-decoration: none;
    color: black;
}
.content {
    padding-left: 20px;
    padding-top: 0px;
}

.profileText {
    padding-bottom: 100px;
}
.profileText h2{
    color: black;
}

.profileText th {
    font-family:'Times New Roman', Times, serif;
    font-size: small;
    text-decoration:None;
    color:rgb(71, 70, 70);
    border: 1px solid;
}

.profileText td {
    font-family:'Times New Roman', Times, serif;
    font-size: small;
    text-decoration:None;
    color:rgb(71, 70, 70);
    border: 1px solid;
}

.profileText table {
    width: auto;
}

.profileText p{
    color: black;
    padding-top: 2px;
}
.profileText a{
    color: black;
}
  
.content a{
  text-decoration: none;
  color: rgb(17, 177, 231);
  padding-top: 5px;
}

#comic{
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px
}

label{
    font-size: small;
}
    
td{
    padding-right: 10px;
    padding-bottom: 10px;
}
    
.align-top{
    vertical-align: top;
}
    
.align-right{
    text-align: right;
}
    
.fixed-width{
    width: 300px;
}
    
input, textarea{
    font-family: Arial, Helvetica, sans-serif;
}